# vim: set filetype=make
# vim: set syntax=make

APP_NAME := @APP_NAME@
APP_TEST := unittests_@APP_NAME@
FORMAT_APP := @APP_NAME@_clangformat
FORMAT_TEST := $(APP_TEST)_clangformat
PACKAGE_NAME := @APP_NAME@-@CPACK_PACKAGE_VERSION@-@DISTRO_CODENAME@_@CPACK_DEBIAN_PACKAGE_ARCHITECTURE@
# PACKAGE_NAME := @DEB_DEFAULT@
# HEADERS := @PUBLIC_INC@ @PRIVATE_INC@
# SRCS := @SRC@ @TEST_SOURCES@
